<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label >Email</label>
        <input name="email">
        <br>
        <label >Contraseña</label>
        <input name="password" type="password">
        <br>
        <input type="submit">
    </form>
    <a href="/api/sessions/github"><button>Entrar con Github</button></a>
    <p>No estas registrado? <a href="/register">Registrate aqui</a></p>
</div>
<script src="/static/js/login.js"></script>